@import "vars";


/*==========  Desktop First  ==========*/

@media only screen and (max-width : 1600px) {
  .about_main .logo_name {
    transform: rotateZ(-5deg);

  }
}
//Extra large: ≥1200px
@media only screen and (max-width : 1200px) {
  .about_main .logo_name {
    transform: rotateZ(-7deg);

  }
}

//Large: ≥992px
@media only screen and (max-width : 1023px) {
  .hidden-md-down{
    display: none;
  }
  header.main_header .search.mob {


    right: 58px;
    top: 27px;
    position: absolute;
    height: 30px;
    width: 30px;
    color: #fff;
    z-index: 14;

  }
  .table_wrap table {
    width: 900px;
  }
  h1 {
    margin-top: 5px;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 15px;
  }
  .footer_subscribe {

    flex-direction: column;
    align-items: flex-start;
  }
  .footer_subscribe span {
    display: inline-block;
    width: 100%;
    color: #282828;
    font-weight: 700;
    font-size: 14px;
    padding-right: 21px;
    line-height: 17px;
    margin-top: 7px;
    position: relative;
    top: 0px;
  }
  .footer_subscribe>div {
    margin-top: 9px;
  }
  .fsb_popup {
    width: calc(100% - 30px);
  }
  .event_start{
    margin-top: 10px;
  }
  .categories_item_top{
    flex-direction: column;
  }
  .categories_item_title{
    margin-bottom: 15px;
  }
  #cd-menu-trigger{
    color: #111;
    display: block;
  }
  .language-select li.active:hover {
    color: #000;
  }
  .language-select li:hover {
    cursor: pointer;
    background-color: transparent;
    color: #000;
  }
  .money-select li.active:hover {
    color: #000;
  }
  .money-select li:hover {
    cursor: pointer;
    background-color: transparent;
    color: #000;
  }
  .search {
    right: 62px;
    top: 26px;
    position: absolute;
    margin: 0;
  }
  header {
    width: 100%;
    background-color: #fff;
    padding: 15px 5px;
    position: relative;
    margin-bottom: 20px;
    height: 70px;
  }
  .fancybox-close-small{
    background-image: url("../img/svg/hrest.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
  }
  #cd-menu-trigger .cd-menu-icon {

    width: 22px;
    height: 2px;
  }
  #cd-menu-trigger .cd-menu-icon::before {
    bottom: 6px;
  }
  #cd-menu-trigger .cd-menu-icon::after {
    top: 6px;
  }

  header .search img {
    width: 18px;
    position: relative;
    top: -1px;
  }
  .search.mob{
    display: block;
  }
  .shadow #cd-menu-trigger {
    right: 5px;
    top: 9px;
  }
  #cd-lateral-nav .header_control_block{
    border-bottom: 1px solid #e60d84;
  }
  #cd-lateral-nav .cd-navigation {
    margin: 38px 0 19px;
  }
  .fancybox-close-small:after{
    display: none;
  }
  .about_main .logo_name{
    display: none;
  }
  .main_slider .item {
    padding-top: 205px;
    min-height: 574px;
    height: auto;
    padding-bottom: 142px;
  }
  .main_slider {
    width: 100%;
    min-height: 574px;
    height: auto;
    display: inline-block;
  }
  .main_slider .owl-nav {

    left: 15px;
  }
  .about_main {

    padding-top: 70px;
    padding-bottom: 70px;
  }
  .about_main .about_title {

    font-size: 23px;

    line-height: 33px;
  }
  .event_management {
    height: auto;
    width: 100%;
    clip-path: polygon(0 0%,100% 0,100% 100%,0 100%);
    margin-top: 0;
    flex-direction: column;
  }
  .event_management-left {
    width: 100%;

    height: 100%;
    padding-top: 50px;
  }
  .event_management-right {
    width: 100%;
    height: 100%;

    clip-path: polygon(0% 0,100% 0,100% 100%,0 100%);
    height: 300px;
    margin-top: 20px;
    background-position: bottom;
  }
  .event_management-left h2 { color: #282828;
    margin-bottom: 25px;
    margin-top: 35px;
  }
  .event_management-left_wr {
    width: 100%;
    max-width: 100%;
    float: inherit;
    padding: 0 15px;
  }
  .fixed-header header.main_header .search {
    color: #000;
    display: inline-block;
    line-height: 0;


  }
  header.main_header .search{
    display: inline-block;
    line-height: 0;


  }
  header.main_header #cd-menu-trigger .cd-menu-icon {
    background-color: #fff;
  }
  header.main_header .search {
    color: #fff;
    font-size: 20px;

    margin-top: 8px;
  }
  .fixed-header header.main_header .search{
    margin-top: 0;
  }
  header.main_header #cd-menu-trigger {
     color: #111;
     display: block;
     margin-top: 10px;
   }
  .fixed-header header.main_header #cd-menu-trigger {
    color: #111;
    display: block;
    margin-top: 3px;
  }
  .fixed-header header.main_header #cd-menu-trigger .cd-menu-icon {
    background-color: #000;
  }

  header.main_header{
    height: 70px;
    line-height: 74px;
    padding-top: 10px;
  }
  .fixed-header header.main_header {
    background: #fff;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.3);
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.15);
    top: -1px;
    margin-top: 0;
    padding-top: 0;
  }

  .fixed-header .search img {
    width: 20px;
    position: relative;
    top: -1px;
  }
  header .search {
    position: absolute;
    top: 26px;
  }
  .donations_item_wr a {

    width: 90px;
    height: 41px;
    font-size: 14px;
    font-weight: 700;
    margin-right: 4px;
    margin-bottom: 10px;
  }
}

//Medium: ≥768px
@media only screen and (max-width : 767px) {
  .categories_item_top {

    flex-direction: column;
  }
  .categories_item.registration_type {
    padding-left: 0;
  }
  .categories_item {

    padding: 20px 15px 20px;
    margin-bottom: 10px;
  }
  .categories_item_buttons {

    display: flex;
    flex-direction: column;
  }
  .categories_item_buttons a {
    margin-right: 0;
    display: inline-block;
    height: 36px;
    background-color: #f7f7f7;
    color: #7d7d7d;
    padding: 0 10px;
    line-height: 35px;
    font-size: 14px;
    font-weight: 200;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 6px;
  }
  .categories_item.registration_type ul li span {
    display: inline-block;
    width: auto;
    margin-right: 16px;
    font-weight: bold;
  }
  .add_categories a {
    margin-right: 0;
    width: 100%;
    margin-bottom: 10px;
  }
  .button_trans ,.button_trans.big {

    display: flex;
    line-height: inherit!important;
    justify-content: center;
    align-items: center;
  }
  .categories_item_title{
    margin-bottom: 15px;
  }
  .categories_type_form_buttons {

    justify-content: flex-end;
    flex-direction: column;
  }
  .categories_type_form_buttons .button_pink.continue {
    line-height: 19px;
    padding: 0 40px;
    margin-top: 10px;
    margin-left: 0;
  }
  h2 {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 20px;
  }
  .footer_logo{
    margin-bottom: 20px;
    display: inline-block;
  }
  footer .footer_nav {
    margin-bottom: 20px;
    margin-top: 10px;
  }
  footer .site_private p {
    color: #8f8f8f;
    font-size: 12px;
    font-weight: 400;
    margin-top: 20px;
  }
  .follow_title {
    display: block;
    margin-bottom: 7px;
    font-size: 14px;
    font-weight: 700;
    margin-top: 20px;
  }
  .footer_subscribe span{
    margin-top: 20px;
  }


  footer {
    padding: 20px 0 45px 0;
    width: 100%;
    background: #fff;

  }
  .content p {
    color: #a4a4a4;
    font-size: 14px;

  }
  .fsb_popup {

    padding: 20px 15px;
  }
  .registration_period_inf span {
    width: 100%;
  }
  .input-group.date{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .redact_form h3{
    margin-top: 30px;
  }
  header .search img {

    top: -2px;
  }
  .money-select {

    top: 0;
  }
  .about_main .about_description {
    color: #4c4c4c;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 0;
    margin-top: 43px;
  }
  .main_slider .item {
    padding-top: 132px;
    min-height: 574px;
    height: auto;
    padding-bottom: 142px;
  }
  .main_slider .item .title {
    font-size: 37px;
    font-weight: 700;
    line-height: 42px;

  }
  .main_slider .item .description {
    color: #fff;
    display: block;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 30px;
  }
  .event_management-left .event_management_menu a {
    margin-right: 29px;
  }
  .main_icon .main_icon_item p.inform {
    display: inline-block;
  }
  .main_icon .main_icon_item {
    padding: 20px;
    width: 100%;
    background-color: #fff;
    height: auto;
  }

  .table_wrap .categories_item_buttons {

    flex-direction: row;
    a{
      margin-right: 10px;
    }
  }
  .store_wrap {
    background-color: #fff;
    padding: 15px;

  }
  header.main_header .search.mob {

    top: 25px;
  }
  .donations_form_wr {
    padding: 15px 15px 30px;
    background: #fff;
    margin-bottom: 10px;
  }
  .create_form_wr .categories_type_form_buttons a {
    margin-left: 0;
    padding: 0 31px;
    font-size: 14px;
    margin-top: 15px;
  }
  .create_form_wr {

    margin: 31px auto 60px;
    background-color: #fff;
    padding: 31px 25px;
    width: 100%;
  }
}

