@import "vars";
@import "fonts";
@import "libs";

input{
  -webkit-appearance: none;
}

::selection {
	background-color: #007bff;
	color: #fff;
}
*{
  box-sizing: border-box;
}

a{
  transition: all 0.3s  ease;
  outline: none!important;
}


html, body {
	height: 100%;
}

body {
	font-size: 14px;
	min-width: 320px;
	position: relative;
	line-height: 1.4;
    color: #282828;
	overflow-x: hidden;
	background-color: #f7f7f7;
	font-family: 'Arial', sans-serif;
    &.shadow{
      height: 100vh;
      overflow: hidden;
      position: fixed!important;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      padding: 15px;
    }
	input, textarea {

			outline: none;
			&:focus:required:invalid {
				border-color: red;
			}
			&:required:valid {
				border-color: green;
			}
	}
}
ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
  li{
    list-style: none;
  }
}
h1{

  margin-top: 20px;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 15px;
}
h2{

  font-weight: 400;
  font-size: 36px;
  margin-bottom: 20px;
}
.content{
  p{
    color: #a4a4a4;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
    margin-top: 0;
  }
  hr{
    color: #ddd;
    height: 1px;
    width: 100%;
    background-color: #dddddd;
    border: none;
    margin-bottom: 20px;
    margin-top: 20px;
    display: inline-block;
  }
}
.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.text-center {
	text-align: center;
}
button{
  outline: none!important;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

input{
  width: 100%;
  height: 40px;
  background-color: #f0f0f0;
  border-radius: 5px;
  border: none;
  margin: 0;
  position: relative;
  box-shadow: none!important;
  padding: 0 10px;
  font-size: 12px;
  color: #7f7f7f;
}

[type=color]:focus, [type=date]:focus, [type=datetime-local]:focus, [type=datetime]:focus, [type=email]:focus, [type=month]:focus, [type=number]:focus, [type=password]:focus, [type=search]:focus, [type=tel]:focus, [type=text]:focus, [type=time]:focus, [type=url]:focus, [type=week]:focus, textarea:focus {
  outline: 0;
  border: 1px solid #e6e6e6!important;
  background-color: #fefefe;
  box-shadow: none;
  transition: border-color .25s ease-in-out;
}
select{
  height: 46px;
  background-color: #f9f9f9;
  line-height: 46px;
  padding: 0 15px;
  border: none;
  color: #8c8a8a;
  margin-bottom: 10px;
  padding-right: 30px;
}
select:focus {
  outline: 0;
  border: none;
  background-color: #f9f9f9;
  box-shadow: none;
  transition: box-shadow .5s,border-color .25s ease-in-out;
}
[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], textarea {
  border: 1px solid #e6e6e6;
}
input[type=radio],input[type=checkbox]{
  width: 20px;
  height: 20px;

}


.button_trans{
  height: 37px;
  border: 2px solid #7f7f7f;
  color: #7f7f7f;
  display: inline-block;
  text-align: center;
  line-height: 37px;
  padding: 0 20px;
  border-radius: 3px;


  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  &:hover{
    text-decoration: none;
    color: #fff;
    background-color: #7f7f7f;;
  }
  &.big{
    height: 51px;
    color: #282828;
    border-color:  #282828;;
    line-height: 51px;
    position: relative;
    font-weight: bold;

    &:hover{
      color: #fff;
      background-color:  #282828;;
    }

  }
}

a:focus, a:hover {
  color: inherit;
}
.button_pink{
  height: 51px;
  background-color: #e20e79;
  line-height: 51px;
  padding: 0 20px;
  border-radius: 3px;
  color: #fff;
  border: 2px solid #e20e79;

  text-transform: uppercase;
  text-align: center;
  font-weight: 700;

  display: inline-block;
  &:hover,&:visited,&:active,&:focus  {
    text-decoration: none;
    color: #fff;
    background-color: #ff1189;
  }
  i{
    font-size: 25px;
    margin-right: 5px;
    position: relative;
    top: 4.5px;
    img{
      width: 16px;
    }
  }
  &.continue{
    margin-left: 10px;
    i{
      margin-right: 0;
      top: 2px;
      margin-left: 10px;
      img{
        width: 15px;
      }
      font-size: 17px;

    }
  }
}

.fsb_popup{
  width: 858px;
  display: none;

  box-shadow: 0 5px 36px rgba(4, 26, 55, 0.1);
  background-color: #ffffff;
  border-radius: 5px;
  padding: 25px;
  h2{
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 15px;
  }
}

.input_wr{
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
  label{
    color: #8c8a8a;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.29px;
    display: block;
    margin-bottom: 5px;
    

  }
  label>[type=checkbox], label>[type=radio] {
    margin: 0;
    display: inline-block;
    width: auto;
    float: left;
    margin-right: 10px;
  }

  input{
    &[type="email"], &[type="number"], &[type="search"], &[type="text"], &[type="tel"], &[type="url"], &[type="password"] {
      margin: 0 0 10px;
      border: none;
      border-radius: 3px;
      box-shadow: none;
      font-size: 16px;
      font-weight: 400;
      transition: box-shadow .5s,border-color .25s ease-in-out;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      height: 46px;
      background-color: #f9f9f9;
      line-height: 46px;
      padding: 0 15px;
      border: 1px solid #e6e6e6;
      color: #8c8a8a;
    }
  }

  textarea{
    height: 106px;
    background-color: #f9f9f9;
    line-height: 20px;
    width: 100%;
    border-right: 3px;
    resize: none;
    padding:  15px;
    border: 1px solid #e6e6e6;
    color: #8c8a8a;
    box-shadow: none!important;
  }
}
select , select:active, select:focus{
  border: 1px solid #e6e6e6;
}
.jq-checkbox__div{
  background-color: #f9f9f9;
}
.jq-checkbox {

  background: #fafafa;
  cursor: pointer;
  margin-right: 5px;
}
.jq-checkbox.checked .jq-checkbox__div {
  width: 16px;
  height: 17px;
  margin: -1px;
  border-radius: 0;
  background-color: #e20e79;
  background-image: url(../img/svg/tick.svg);


}
.jq-checkbox.checked{
  border: 1px solid #e20e79;
}
.jq-selectbox__trigger-arrow {

  background-image: url(../img/svg/caret-down.svg);
  background-size: 10px;
  top: 19px;


}
.jq-selectbox__select {
  height: 46px;
  padding: 0 45px 0 13px;
  border: none;
  line-height: 46px;
  -webkit-border-radius: 0;
  border-radius: 3px;
  background: #fafafa;

  font-family: arial;
  color: #8c8a8a;
  font-size: 14px;

}
.jq-selectbox li {
  min-height: 24px;
  padding: 8px 10px 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  color: #000;
  background: #fafafa;
  font-family: Arial, sans-serif;

  &:hover{
    color: #fff;
    background: #e20e79;
  }
}

.jq-selectbox__dropdown {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.44);
  border-radius: 3px;
  background: #fff;
  font-size: 14px;
  margin-top: 5px;
  box-shadow: none;
}

.jq-selectbox__select-text {
  display: block;
  overflow: hidden;
  width: 100%!important;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 46px;
  line-height: 46px;
  font-size: 14px;
}
.input-group.date input {
  background-image: url(../img/svg/calendar.svg);
  -webkit-background-size: 20px 20px;
  background-size: 18px;
  background-position: 95%;
  padding-right: 30px;
  background-repeat: no-repeat;
  font-size: 16px;
  color: #a3a3a3;
}
.datepicker table tr td.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active:hover {
  background-color: #e60d84!important;
  background-image: none;


}
.jq-radio.checked .jq-radio__div {
  width: 8px;
  height: 8px;
  margin: 3px 0 0 3px;
  border-radius: 50%;
  background: #fff;
}

.footer_subscribe div{
  width: 100%;
  display: flex;
}


.tabs{
  display: flex;
  border: none;
  border-bottom: 2px solid #ccc;
  margin-bottom: 20px;
  margin-top: 20px;
  li{

    a{
      color: #000;
      font-size: 16px;
      padding: 5px 15px;
      border-bottom: 2px solid transparent;
      &.active{
        border-bottom: 2px solid #e20e79;
      }


    }
  }

}
.input-group{
  label{
    color: #8c8a8a;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .29px;
    display: block;
    margin-bottom: 5px;
  }
  .input-group-label {
    padding: 10px;
    border: none;
    background: #e6e6e6;
    color: #0a0a0a;
    text-align: center;
    white-space: nowrap;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-align: center;
    align-items: center;
    height: 46px;
    line-height: 46px;
  }
}

.fancybox-close-small {
  background-image: url(../img/svg/hrest.svg);
  -webkit-background-size: 20px 20px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  outline: none!important;
  &:hover{
    background-color: transparent;
  }
}
.fancybox-close-small:hover:after {
  color: #555;
  background: transparent;
  outline: none;
}


.all_pages{
  position: fixed;
  top: 20%;
  right: 0;
  z-index: 101;
  &:hover{
    ul{
      right: 0;
    }
  }
  .page_point{
    width: 40px;
    height: 15px;
    background: #e60d84;
    cursor: pointer;
  }
  ul{
    background: #e60d84;
    padding: 15px 20px;
    position: absolute;
    top: 100%;
    width: 200px;
    right: -200px;
    transition: .4s;
    max-height: 450px;
    overflow-y: auto;
    li{
      list-style: none;
      margin-bottom: 5px;
      font-size: 17px;
      font-weight: bold;
      a{
        color: #fff;
      }
    }
  }
}


.button_blue{
  height: 56px;
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.17);
  background-color: #48bcff;
  text-align: center;
  line-height: 56px;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  border-radius: 5px;
  margin-top: 20px;
  width: 100%;
  color: #fff;
  border: none;
  outline: none!important;
  &.disable{
    background-color: #f9f9f9;
    color: #444;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.17);

    &:hover{
      background-color: #f9f9f9;
      color: #444;
    }
  }
  &:hover{
    color: #fff;
    background-color: #28a2df;
  }
}


.button_grey{


  background-color: #f7f7f7;
  text-align: center;
  line-height: 51px;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  border-radius: 5px;

  padding: 0 20px;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  outline: none!important;
  &.disable{
    background-color: #f9f9f9;
    color: #444;
  }
  &:hover{

    background-color: #c2c2c2;
  }
}

.white_table{
  width: 100%;
  background-color: #fff;
  vertical-align: top;

  thead {
    background: #ffffff;
    color: #a63f7f;
    font-weight: bold;
    border: none;
    th{
      padding: 15px 10px;
      label{
        color: #a63f7f;
      }
    }
  }
  tbody {
    border: none;
    tr{
      background-color: #f9f9f9!important;
      border: none;
      border-bottom: 1px solid #e9e9e9;

    }
  }
  tbody td {
    padding: 15px 10px;
  }
  .categories_item_buttons a {

    background-color: #a63f7f;
    i:before{
      color: #fff;
    }
  }
  select{
    max-width: 200px;
  }
  .add-coll_method{
    display: block;
    width: 100%;
  }
  .button_trans{
    width: 100%;
  }
  input,select, textarea{
    background-color: #fff;
  }
  input {
    &[type="email"], &[type="number"], &[type="search"], &[type="text"], &[type="tel"], &[type="url"], &[type="password"] {
      background-color: #fff;
    }
  }

}
.page_descr{
  color: #a4a4a4;
}
.categories_item_buttons a i {
  margin-right: 7px;
  position: relative;
  top: -3px;
  font-size: 19px;
  text-align: center;
  line-height: 39px;
  padding: 0;
  margin: 0!important;
}
.categories_item .categories_item_buttons a i {
  margin-right: 7px!important;

}
.quantity_title{
  float: left;
  line-height: 33px;
  margin-right: 10px;
}
.quantity_wr{
  display: flex ;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 80px;
  padding: 0 5px;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #fff;
  .quantity-input{
    width: 40px;
    height: 30px;
    line-height: 30px;
    border: none;
    margin: 0;
    &:focus, &:active{
      border: none!important;
    }

  }
  a{
    color: #ddd;
    font-size: 25px;
    line-height: 30px;
    &.qty-plus{
      position: relative;
      top: 2px;

    }
    &:hover{
      color: #000;
    }
  }
}

.button_pink{
  font-weight: 700;
}
.fancybox-close-small::after {
  display: none!important;
}
@import "header";
@import "mob_menu";
@import "pages/cart";
@import "pages/main";
@import "pages/store";
@import "pages/reg";
@import "pages/donations";
@import "pages/create";
@import "pages/dashboard";
@import "pages/participant";
@import "footer";
@import "media"; // Always at the end


