.categories_item{
  display: inline-block;
  background-color: #fff;
  width: 100%;
  padding: 20px 30px 30px;
  margin-bottom: 10px;
  &_top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
    .categories_item_title{
      >div{
        color: #dc0271;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
      }
      >span{
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
      }
    }

  }
  &_buttons{
    display: flex;
    a{
      margin-right: 10px;
      display: inline-block;
      height: 36px;
      background-color: #f7f7f7;

      color: #7d7d7d;
      padding: 0 10px;
      line-height: 35px;
      font-size: 14px;
      font-weight: 200;
      border-radius: 5px;
      &:hover{
        text-decoration: none;
        background-color: #d6d6d6;


      }
      i{

        margin-right: 7px;
        position: relative;
        top: -3px;
        img{
          width: 19px;
        }
      }
    }
  }
  p{
    color: #a4a4a4;

    font-size: 14px;
    font-weight: 200;
    line-height: 18px;
  }
  &.registration_type{
    padding-right: 0;
    margin-top: 10px;
    padding-top: 30px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px;
    margin-bottom: 30px;
    padding-left: 40px;
    ul{
      margin-top: 10px;
      li{
        font-size: 14px;
        span{
          display: inline-block;
          width: 175px;
        }
      }
    }
  }
}


.add_categories{
  margin-top: 30px;
  a{
    margin-right: 10px;
  }


}

.categories_type_form_buttons{
  .button_pink.continue{

    line-height: 41px;
    padding: 0 40px;
  }
  .button_trans.big{
    padding: 0 40px;
  }
}

.tips{
  display: flex;
  margin: 40px 0 0;
  i{
    width: 39px;
    height: 39px;
    background-color: #ffffff;
    border-radius: 50%;
    line-height: 39px;
    text-align: center;
    font-style: normal;
    font-size: 20px;
    margin-right: 10px;


  }
  span{

    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
  }
  p{
    color: #808080;
    font-size: 14px;

  }
}

.categories_type_form_buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.category_settings_form_buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 40px;
  margin-bottom: 15px;
}

.category_settings_form_buttons{
  .button_pink{


    padding: 0 40px;
    margin-left: 10px;
  }
  .button_trans.big{
    padding: 0 40px;
  }
}


.registration_settings_form{
  .edit{

    height: 46px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    i{
      margin-right: 0;
      position: relative;
      top: 0;
      font-size: 20px;
      img{
        width: 19px;
      }
    }
    &:hover{
      text-decoration: none;
      background-color: #d6d6d6;
    }
  }
}


.advance_setting{
  display: inline-block;
  width: 100%;
  background-color: #efefef;
  label{
    i{
      color: #333;
    }
  }

  >span{
    color: #e20e79;
    padding: 20px;
    display: inline-block;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    &.active{
      i{
        img{
          transform: rotateZ(-180deg);
        }
      }
    }
    i{
      float: right;
      img{
        width: 12px;
      }
    }

  }
  .hidden_advance{
    display: none;
    padding: 0 20px 20px;

    .pl_30{
      padding-left: 27px;
    }
  }
}
.to{
  display: block;
  text-align: center;
  line-height: 46px;
  font-size: 14px;
}
.registration_period_inf span{
  width: 190px;
  height: 46px;
  border: 1px solid #bababa;
  background-color: #ffffff;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 5px 0;
  i{
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #a3a3a3;
    letter-spacing: 0.6px;
    padding-right: 10px;
    font-style: normal;
    margin-right: 10px;
    border-right: 1px solid #a3a3a3;;

  }
  time{
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #a3a3a3;
    letter-spacing: 0.6px;
  }
}
#cd-menu-trigger{
  display: none;
}

.redact_form{
  margin-bottom: 50px;
  h2{
    font-size: 24px;
    margin-bottom: 20px;
  }
  label {
    color: #8c8a8a;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .29px;
    display: block;
    margin-bottom: 5px;
  }
  h3{
    font-size: 18px;
  }
  .input_wr{
    margin-bottom: 0;
  }
}

.registration_settings_form .delete {
  margin-right: 10px;
  display: inline-block;

  background-color: #f7f7f7;
  color: #7d7d7d;
  padding: 0 10px;
  width: 40px;
  text-align: center;

  font-size: 14px;
  font-weight: 200;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  float: right;
  margin-right: 0;
  margin-left: 10px;
  height: 34px;
  line-height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  &:hover{
    text-decoration: none;
    background-color: #d6d6d6;
  }
  i{
    font-size: 20px;
  }
  i img {
    width: 17px;
  }
}
.registration_settings_form .edit {
  float: right;
  margin-right: 0;
  margin-left: 10px;
  width: 40px;
  height: 34px;
  line-height: 34px;
}

.drug_form{
  display: flex;
  width: 100%;
  justify-content: center;
  min-height: 46px;
  background-color: #f9f9f9;
  padding: 5px 10px;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  cursor: pointer;
  margin-bottom: 20px;
  span{
    width: calc(100% - 45px);
    font-size: 13px;
    color: #8c8a8a;
  }
}

.tabs li a {

  position: relative;
  top: -1px;
}
.advance_setting{
  span.title{
    font-weight: 700;
  }
  input{
    border: none;
  }
}
.categories_type_form{
  margin-bottom: 200px;
}
.cart_page_form .white_table tbody tr {
  background-color: #fff!important;

}

.white_table {
  .item-group.level-0 tr {
    background-color: #f9f9f9!important;

  }
}