header.main_header {
  z-index: 9;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  padding: 20px 0 0;
  height: 88px;
  line-height: 90px;
  box-shadow: none;

  background-color: transparent;
  transition: background-color, padding  0.2s ease;
  .wrapper-menu {

    margin-top: 26px;
  }
  .line-menu {
    background-color: #fff;
  }
  .header_start{
    color: #f0f0f0;
    width: 126px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    height: 44px;
    border: 2px solid #f0f0f0;
    background-color: transparent;
    border-radius: 3px;
    margin-top: 27px;
    &:hover{
      color: #dc0271;

      background-color: #fff;
    }

  }
  .search{
    color: #fff;
    font-size: 17px;
  }

  .language-select li{
    color: #fff;
  }
  .money-select li{
    color: #fff;
  }
  .header_logo{
    position: relative;
    top: -3px;
  }
  .logo{
    display: none;
  }
  .language-select.open {
    height: auto;
    background-color: #000000;
  }
  .money-select.open {
    height: auto;
    background-color: #000000;
  }
  
}


.fixed-header header.main_header {
  background: #FFF;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  top: 0;
  margin-top: 0;
  padding-top: 1px;

  .logo{
    display: block;

  }
  .header_start{
    color: #dc0271;

    border: 2px solid #b2b2b2;
    background-color: #fff;
    border-radius: 3px;
    margin-top: 27px;
    &:hover{
      color: #dc0271;
      border: 2px solid #dc0271;
      background-color: #fff;
    }

  }
  .wrapper-menu-wrap nav {

    margin-top: 29px;

    box-shadow: 0px 2px 3px rgba(0,0,0,.3);
  }
  .logo_w{
    display: none;
  }
  .language-select li{
    color: #000;
  }
  .money-select li{
    color: #000;

  }
  .language-select.open {
    height: auto;
    background-color: #f1ecec;
  }
  .money-select.open {
    height: auto;
    background-color: #f1ecec;
  }
  .language-select li:hover {
    cursor: pointer;
    background-color: #e20e79;
    color: #fff;
  }
  .money-select li:hover {
    cursor: pointer;
    background-color: #e20e79;
    color: #fff;
  }
  .search{
    color: #000;
  }

}

.fixed-header header .nav a {
  color: #333;
}

.main_slider{
  width: 100%;
  height: 100vh;
  display: inline-block;



  .item{

    padding-top: 250px;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat!important;
    background-position: center;
    background-size: cover!important;
    color: #fff;
    .title{
      color: #ffffff;
      font-family: "Arial";
      font-size: 50px;
      font-weight: bold;
      line-height: 50px;
      text-transform: uppercase;
    }
    .description{
      color: #ffffff;
      display: block;
      font-size: 30px;
      font-weight: bold;
      text-transform: uppercase;
      margin-top: 30px;
    }
    .button_pink{
      height: 57px;
      line-height: 57px;
      margin-top: 30px;
      width: 163px;
      font-weight: bold;
    }

  }
  .owl-nav{
    display: inline-block;
    position: absolute;
    bottom: 50px;
    left: calc(50% - 480px);
    display: flex;
    justify-content: center;

    .owl-prev{
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      border: 2px solid #fff;
      background-color: transparent;
      border-radius: 3px;
      color: #fff;
      font-size: 35px;
      margin-right: 10px;
      &:hover{
        background-color: #fff;
        color: #dc0271;
      }
    }
    .owl-next{
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      border: 2px solid #fff;
      background-color: transparent;
      border-radius: 2px;
      color: #fff;
      font-size: 35px;
      &:hover{
        background-color: #fff;
        color: #dc0271;
      }
    }
  }

}

.about_main {
  min-height: initial;
  width: 100%;
  background-color: #f7f7f7;
  padding-top: 130px;
  padding-bottom: 270px;

  .about_title{
    color: #282828;
    display: block;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
  }
  .logo_name{


      font-size: 170px;
      font-weight: 900;

      position: absolute;
      letter-spacing: -10.8px;
      transform: rotateZ(-3.5deg);
      margin-top: 15px;
      color: #eeeeee;
  }

  .button_pink{
    height: 57px;
    line-height: 57px;
    margin-top: 30px;
    width: 163px;
    font-weight: bold;
  }
  .about_description{
    color: #4c4c4c;

    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 28px;
  }
}

.event_management{
  height: 850px;
  width: 100%;
  background-color: #fff;
  display: flex;
  clip-path: polygon(0 14%, 100% 0%, 100% 86%, 0% 100%);
  margin-top: -135px;
  &-left{
    width: 50%;
    background-color: #fff;
    height: 100%;
  }
  &-right{
    width: 50%;
    height: 100%;

    clip-path: polygon(12% 0, 100% 0%, 100% 100%, 0% 100%);



  }

}
.logo_slider{
  width: 100%;
  background-color: #e9e9e9;
  padding: 40px 0;
}
.logo_slider_wr {
  .item{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  img{
    width: auto!important;
    display: table;
    margin: 0 auto;
    object-fit: contain;
    max-height: 100px;
    filter: grayscale(100%);
    transition: all 0.2s ease;
    &:hover{
      filter: grayscale(0%);
    }


  }
  .owl-nav{
    display: none;
  }

}
.section_title{
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  color: #000;
  margin-bottom: 60px;
}
.reletive{
  position: relative;
}
.main_icon{
  padding: 80px 0 100px;
  a{
    color: #858585;
    &:hover{
      color: #858585;
    }
  }
  .main_icon_item{
    padding: 30px;
    width: 100%;
    background-color: #fff;
    height: 190px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform ,  box-shadow  0.2s ease;
    &:hover{
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.07);
      >span {

        transform: scale3d(1.2, 1.2, 1.2 );
      }
    }

    .main_icon_item_close{
      display: none;
    }

    p.inform{
      display: none;
    }
    &.active{
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      display: flex;
      justify-content: center;
      z-index: 1;
      background-color: #fff;
      box-shadow: 0 12px 19px rgba(0, 0, 0, 0.07);
      left: 0;
      right: 0;
      top: 0;
      &:hover{

        >span {

          transform: scale3d(1, 1, 1 );
        }
      }
      .main_icon_item_close{
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 20px;
      }


      p.inform{
        display: block;
        color: #858585;

        font-size: 14px;
        font-weight: 400;
        line-height: 24px;

      }
      p{
        color: #282828;
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
        margin-top: 10px;
        text-align: center;
        width: 100%;
        max-width: 400px;
      }
      >span{
        width: 146px;
        height: 146px;
        background-color: #f7f7f7;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        border-radius: 50%;
        margin-bottom: 20px;
      }
    }
    >span {
      font-size: 63px;
      display: table;
      margin: 0 auto;
      margin-bottom: 20px;
      &:before {
        color: #dc0271;
      }
    }

    p{
      text-align: center;
    }
  }
}

.event_management-left{
  padding-top: 200px;
  &_descr{
    opacity: 0.5;
    color: #282828;

    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
  }
  p{
    color: #4c4c4c;

    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
  }
  h2{
    color: #282828;
    margin-bottom: 25px;
    margin-top: 65px;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
  }
  .event_management_menu{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: 60px;
    li{
      margin-bottom: 20px;
    }
    a{
      margin-right: 50px;
      color: #a7a7a7;
      padding-bottom: 15px;
      border-bottom: 2px solid transparent;


      font-size: 14px;
      font-weight: 700;
      line-height: 36px;
      text-transform: uppercase;
      &.active,&:hover{
        border-bottom: 2px solid #dc0271;
        color: #000;
      }


    }
  }
}
.event_management-left_wr{
  width: 100%;
  max-width: 480px;
  float: right;
}

.wrapper-menu-wrap{
  position: relative;
  nav{
    position: absolute;
    width: 200px;
    background-color: #fff;
    padding: 15px 30px;
    margin-top: 10px;
    box-shadow: 0 0 3px rgba(0,0,0,.3);
    display: none;
    ul{
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
      a{
        color: #000;
        margin-right: 0;
        letter-spacing: 0;
      }
    }

  }
}
.header.main_header {
  .search {
    right: 62px;
    top: 11px;
    position: absolute;
    margin: 0;
  }
}
.header.main_header{
  .header_optinal{


    .language-select{

      top: 4px;

    }
    .money-select{

      top: 4px;
    }
  }
  .search {

    top: 0;
  }
}

header .search {

  position: relative;
  top: 0px;
}
.header_optinal{
  position: relative;
  display: inline-block;
  width: 150px;
  height: 30px;
  top: 3px;

  .language-select{
    position: absolute;
    left: 0;


  }
  .money-select{
    position: absolute;
    right: 0;
    top: 0;
  }
}
.fixed-header header.main_header .line-menu {
  background-color: #dc0271;
}