
<footer>
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="large-3 medium-3  cell">
                <a href="#" class="footer_logo"><img src="img/logo.png" alt=""></a>
            </div>
            <div class="large-3 medium-3 cell">
                <nav class="footer_nav">
                    <ul>
                        <li><a href="#"> Our Events</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
            <div class="large-6 medium-5 cell">
                <div class="fb-page"
                     data-href="https://www.facebook.com/fringebacker/"
                     data-width="480"
                     data-hide-cover="false"
                     data-show-facepile="false"></div>
            </div>

        </div>

        <div class="grid-x grid-padding-x">
            <div class="large-3 medium-6 cell">
                <div class="site_private">
                    <p>© 2017 FRINGEBACKER. <br>
                        All Rights Reserved</p>
                    <a href="#">Terms of Use </a>
                    <a href="#">Privacy Policy</a>
                </div>
            </div>

            <div class="large-3 medium-6 cell">
                <span class="follow_title">Follow us</span>
                <ul class="follow_us">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i><img src="img/svg/sina-weibo.svg" alt=""></i></a></li>
                    <li><a href="#"><i class="fas fa-rss"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
            <div class="large-6 cell">
                <form action="#" class="footer_subscribe">
                    <span>Subscribe to our e-mail newsletter to receive updates</span>
                    <div>
                        <input type="email" required placeholder="Email address">
                        <button><img src="img/svg/right-arrow-forward.svg" alt=""></button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</footer>


<div class="all_pages">
    <div class="page_point"></div>
    <ul class="page_list">
        <li><a href="index.html">Home</a></li>
        <li><a href="cats.html">Cats N Reg Types</a></li>
        <li><a href="store.html">Store</a></li>
        <li><a href="cart.html">Cart</a></li>

        <li><a href="donations.html">Donations</a></li>
        <li><a href="create_account.html">Create account</a></li>
        <li><a href="sing.html">Sing in</a></li>
        <li><a href="dashboard.html">Dashboard</a></li>
        <li><a href="participant.html">Participant</a></li>
        <li><a href="proceed.html">Proceed to Pay</a></li>
        <li><a href="myevent.html">My Events</a></li>
        <li><a href="eventinfo.html">Event Info</a></li>
        <li><a href="participant_det.html">Participant Details</a></li>
        <li><a href="page_cust.html">Page Customization</a></li>
        <li><a href="reg.html">Registration Form</a></li>
        <li><a href="reg_now.html">Register Now!</a></li>
        <li><a href="acl_list.html">ACL list</a></li>
        <li><a href="pay_inst.html">Payment Instructions</a></li>
        <li><a href="email_create.html">Create Email</a></li>


    </ul>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<script src="js/scripts.min.js"></script>

<script src="libs/owl-carousel/owl.carousel.min.js"></script>

<script src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v2.5"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js'></script>
<script src="libs/foundation/js/vendor/foundation.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script src='https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=qagffr3pkuv17a8on1afax661irst1hbr4e6tbv888sz91jc'></script>


<script src="js/common.js"></script>

</body>
</html>