
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <a href="#" class="footer_logo"><img src="img/logo.png" alt=""></a>
            </div>
            <div class="col-lg-3">
                <nav class="footer_nav">
                    <ul>
                        <li><a href="#"> Our Events</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-6">
                <div class="fb-page"
                     data-href="https://www.facebook.com/fringebacker/"
                     data-width="480"
                     data-hide-cover="false"
                     data-show-facepile="false"></div>
            </div>

        </div>
    </div>
</footer>

<script src="../js/scripts.min.js"></script>
<script src="../js/common.js"></script>
<script src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v2.5"></script>

</body>
</html>