<header>
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="large-2  cell">
                <div class="header_logo">
                    <a href="#"><img src="img/logo.png" alt=""></a>
                </div>
            </div>

            <div class="large-5 show-for-large  cell">
                <nav>
                    <ul class="main_nav">
                        <li><a href="#">Explore</a></li>
                        <li><a href="#">ABOUT US</a></li>
                        <li><a href="#">Events</a></li>
                    </ul>
                </nav>
            </div>

            <div class="large-5 show-for-large  cell">
                <ul class="language-select">
                    <li class="active" data-lang="ua"><i><img src="img/flag.jpg" alt=""></i> English</li>

                    <li data-lang="en"><i><img src="img/flag.jpg" alt=""></i> English</li>
                </ul>

                <ul class="money-select">
                    <li class="active" data-lang="ua">USD</li>

                    <li data-lang="en"> EUR</li>
                </ul>

                <a href="#" class="search">
                    <img src="img/svg/magnifying-glass.svg" alt="">
                </a>

                <div class="header_userblock">

                    <img src="img/user.png" alt="">
                    <div>
                        <a href="#" class="user_name">User Name</a>
                        <a href="#" class="user_mail">user@gmail.com</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <a href="#" class="search mob">
        <img src="img/svg/magnifying-glass.svg" alt="">
    </a>
    <a id="cd-menu-trigger" href="#0"><span class="cd-menu-icon"></span></a>
</header>

<div class="serch_block">
    <div class="grid-container">
        <input type="text" class="searchTerm" placeholder="What are you looking for?">
    </div>
</div>

<nav id="cd-lateral-nav">
    <div class="header_control_block">
        <ul class="language-select">
            <li class="active" data-lang="ua"><i><img src="img/flag.jpg" alt=""></i> English</li>

            <li data-lang="en"><i><img src="img/flag.jpg" alt=""></i> English</li>
        </ul>

        <ul class="money-select">
            <li class="active" data-lang="ua">USD</li>

            <li data-lang="en"> EUR</li>
        </ul>
    </div>
    <div class="main_menu_mob_wr">
        <ul class="cd-navigation">
            <li><a href="#">Explore</a></li>
            <li><a href="#">ABOUT US</a></li>
            <li><a href="#">Events</a></li>
        </ul>

    </div>



    <div class="header_userblock">

        <img src="img/user.png" alt="">
        <div>
            <a href="#" class="user_name">User Name</a>
            <a href="#" class="user_mail">user@gmail.com</a>
        </div>

    </div>




</nav>