<div id="category_settings_popup" class="fsb_popup">

    <h2>Category Settings</h2>
    <form action="" class="category_settings_form">
        <div class="input_wr">
            <label >Category Name</label>
            <input type="text">
            <label for="chek_1"><input type="checkbox" id="chek_1" class="form_style"> Omit Category Name (Not available if more than one category)</label>
        </div>
        <div class="input_wr">
            <label >Location</label>
            <select name="#" id="" class="form_style">
                <option value="Please select">Please select</option>
                <option value="select 1">Select 1</option>
                <option value="select 2">Select 2</option>
                <option value="select 3">Select 2</option>
            </select>
        </div>
        <div class="input_wr">
            <label>Category Start Date and Time</label>
            <div class="row">
                <div class="col-md-3">
                    <select  class="form_style">
                        <option value="Please select">Select time</option>
                        <option value="select 1">Select 1</option>
                        <option value="select 2">Select 2</option>
                        <option value="select 3">Select 2</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="input_wr">
            <label >Activity Type</label>
            <select name="#" id="" class="form_style">
                <option value="Please select">Please select</option>
                <option value="select 1">Select 1</option>
                <option value="select 2">Select 2</option>
                <option value="select 3">Select 2</option>
            </select>
        </div>

        <div class="input_wr">
            <label >Distance</label>
            <select name="#" id="" class="form_style">
                <option value="Please select">Please select</option>
                <option value="select 1">Select 1</option>
                <option value="select 2">Select 2</option>
                <option value="select 3">Select 2</option>


            </select>
        </div>


    </form>




</div>